/dts-v1/;

/ {
	model = "Mac Mini Late 2020";
	compatible = "apple,m1";
	hardware-model = "J274";
	interrupt-parent = <0x01>;
	#address-cells = <0x02>;
	#size-cells = <0x02>;

	aliases {
		serial0 = "/soc/serial@235200000";
	};

	chosen {
		bootargs = "earlycon=apple_uart,0x235200000 console=tty0";
	};

	memory@800000000 {
		device_type = "memory";
		reg = <0x08 0x00 0x04 0x00>;
	};

	framebuffer@9e0df8000 {
		compatible = "simple-framebuffer";
		reg = <0x0b 0xdf438000 0x00 0x3e80000>;
		format = "x8r8g8b8";
		height = <0x640>;
		stride = <0x2800>;
		width = <0xa00>;
		status = "okay";
	};

	reserved-memory {
		#address-cells = <0x02>;
		#size-cells = <0x02>;
		ranges;

		fw_area@800000000 {
			reg = <0x08 0x00 0x00 0x1f44000>;
			no-map;
		};

		fw_area@9e0000000 {
			reg = <0x0b 0xd9498000 0x00 0x26b68000>;
			no-map;
		};

		smpentry@803400000 {
			reg = <0x08 0x4df4000 0x00 0x4000>;
			no-map;
		};

		adt@80000000 {
			reg = <0x08 0x4d34000 0x00 0x5c000>;
			no-map;
		};

		bootargs@80000000 {
			reg = <0x08 0x6c28000 0x00 0x4000>;
			no-map;
		};
	};

	io-ranges {
		#address-cells = <0x02>;
		#size-cells = <0x02>;
		ranges;

		on_chip_io@200000000 {
			reg = <0x02 0x00 0x02 0x00>;
			type = <0x01>;
		};

		on_chip_io@500000000 {
			reg = <0x05 0x00 0x00 0x80000000>;
			type = <0x01>;
		};

		on_chip_io@680000000 {
			reg = <0x06 0x80000000 0x00 0x20000000>;
			type = <0x01>;
		};
	};

	cpus {
		#address-cells = <0x01>;
		#size-cells = <0x00>;

		cpu@0 {
			device_type = "cpu";
			compatible = "apple,v1";
			reg = <0x00>;
			enable-method = "apple,startcpu";
			apple,cluster = <0x00>;
		};

		cpu@1 {
			device_type = "cpu";
			compatible = "apple,v1";
			reg = <0x01>;
			enable-method = "apple,startcpu";
			apple,cluster = <0x00>;
		};

		cpu@2 {
			device_type = "cpu";
			compatible = "apple,v1";
			reg = <0x02>;
			enable-method = "apple,startcpu";
			apple,cluster = <0x00>;
		};

		cpu@3 {
			device_type = "cpu";
			compatible = "apple,v1";
			reg = <0x03>;
			enable-method = "apple,startcpu";
			apple,cluster = <0x00>;
		};

		cpu@10100 {
			device_type = "cpu";
			compatible = "apple,v1";
			reg = <0x10100>;
			enable-method = "apple,startcpu";
			apple,cluster = <0x01>;
		};

		cpu@10101 {
			device_type = "cpu";
			compatible = "apple,v1";
			reg = <0x10101>;
			enable-method = "apple,startcpu";
			apple,cluster = <0x01>;
		};

		cpu@10102 {
			device_type = "cpu";
			compatible = "apple,v1";
			reg = <0x10102>;
			enable-method = "apple,startcpu";
			apple,cluster = <0x01>;
		};

		cpu@10103 {
			device_type = "cpu";
			compatible = "apple,v1";
			reg = <0x10103>;
			enable-method = "apple,startcpu";
			apple,cluster = <0x01>;
		};
	};

	refclk24mhz {
		compatible = "fixed-clock";
		#clock-cells = <0x00>;
		clock-frequency = <0x16e3600>;
		clock-output-names = "refclk24mhz";
		phandle = <0x03>;
	};

	refclk100mhz {
		compatible = "fixed-clock";
		#clock-cells = <0x00>;
		clock-frequency = <0x5f5e100>;
		clock-output-names = "refclk100mhz";
		phandle = <0x17>;
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <1 1 4 1 0 4>;
		clock-frequency = <0x16e3600>;
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <0x02>;
		#size-cells = <0x02>;
		ranges;
		dma-coherent;

		applestart@23b754004 {
			compatible = "apple,startcpu";
			reg = <0x02 0x3b754004 0x00 0x0c 0x02 0x10050000 0x00 0x08 0x02 0x10030fb0 0x00 0x04 0x02 0x3b754004 0x00 0x0c 0x02 0x10150000 0x00 0x08 0x02 0x10130fb0 0x00 0x04 0x02 0x3b754004 0x00 0x0c 0x02 0x10250000 0x00 0x08 0x02 0x10230fb0 0x00 0x04 0x02 0x3b754004 0x00 0x0c 0x02 0x10350000 0x00 0x08 0x02 0x10330fb0 0x00 0x04 0x02 0x3b754004 0x00 0x0c 0x02 0x11050000 0x00 0x08 0x02 0x11030fb0 0x00 0x04 0x02 0x3b754004 0x00 0x0c 0x02 0x11150000 0x00 0x08 0x02 0x11130fb0 0x00 0x04 0x02 0x3b754004 0x00 0x0c 0x02 0x11250000 0x00 0x08 0x02 0x11230fb0 0x00 0x04 0x02 0x3b754004 0x00 0x0c 0x02 0x11350000 0x00 0x08 0x02 0x11330fb0 0x00 0x04>;
		};

		cpufreq@210e00000 {
			compatible = "apple,pmgr-cpufreq-m1";
			reg = <0x02 0x10e00000 0x00 0x100000 0x02 0x11e00000 0x00 0x100000 0x02 0x3b700000 0x00 0x100000 0x02 0x200000 0x00 0x200000>;
		};

		interrupt-controller@23b100000 {
			compatible = "apple,aic";
			#interrupt-cells = <0x03>;
			interrupt-controller;
			reg = <0x02 0x3b100000 0x00 0x8000>;
			fast-ipi;
			phandle = <0x01>;
		};

		serial@235200000 {
			compatible = "apple,uart";
			reg = <0x02 0x35200000 0x00 0x4000>;
			interrupts = <0x00 0x25d 0x04>;
			clocks = <0x03>;
			clock-names = "refclk";
			index = <0x00>;
		};

		gpio_clk@23b700130 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b700130 0x00 0x08>;
			clocks = <0x03>;
			clock-output-names = "gpio_clk";
			phandle = <0x04>;
		};

		pinctrl@23c100000 {
			compatible = "apple,gpio-v0";
			reg = <0x02 0x3c100000 0x00 0x100000>;
			pin-count = <0xd4>;
			interrupts = <0x00 0xbe 0x04 0x00 0xbf 0x04 0x00 0xc0 0x04 0x00 0xc1 0x04 0x00 0xc2 0x04 0x00 0xc3 0x04 0x00 0xc4 0x04>;
			clocks = <0x04>;
			gpio-controller;
			#gpio-cells = <0x02>;
			interrupt-controller;
			#interrupt-cells = <0x02>;
			phandle = <0x0c>;

			i2c0_pins {
				pins = "gpio192\0gpio188";
				function = "periph";
				phandle = <0x0b>;
			};

			pcie_clkreq_pins {
				pins = "gpio150\0gpio151\0gpio32";
				function = "periph";
				phandle = <0x36>;
			};
		};

		nub_gpio_clk@23d280080 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3d280080 0x00 0x08>;
			clocks = <0x03>;
			clock-output-names = "nub_gpio_clk";
			phandle = <0x05>;
		};

		pinctrl@23d1f0000 {
			compatible = "apple,gpio-v0";
			reg = <0x02 0x3d1f0000 0x00 0x4000>;
			pin-count = <0x17>;
			pin-base = <0xd4>;
			pin-prefix = "nubgpio";
			interrupts = <0x00 0x14a 0x04 0x00 0x14b 0x04 0x00 0x14c 0x04 0x00 0x14d 0x04 0x00 0x14e 0x04 0x00 0x14f 0x04 0x00 0x150 0x04>;
			clocks = <0x05>;
			gpio-controller;
			#gpio-cells = <0x02>;
			interrupt-controller;
			#interrupt-cells = <0x02>;
			phandle = <0x3f>;
		};

		aop_filter_clk@23d284000 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3d284000 0x00 0x08>;
			clocks = <0x03>;
			clock-output-names = "aop_filter_clk";
			phandle = <0x06>;
		};

		aop_gpio_clk@23d284008 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3d284008 0x00 0x08>;
			clocks = <0x06>;
			clock-output-names = "aop_gpio_clk";
			phandle = <0x07>;
		};

		pinctrl@24a820000 {
			compatible = "apple,gpio-v0";
			reg = <0x02 0x4a820000 0x00 0x4000>;
			pin-count = <0x2a>;
			pin-base = <0xeb>;
			pin-prefix = "aopgpio";
			interrupts = <0x00 0x10c 0x04 0x00 0x10d 0x04 0x00 0x10e 0x04 0x00 0x10f 0x04 0x00 0x110 0x04 0x00 0x111 0x04 0x00 0x112 0x04>;
			clocks = <0x07>;
			gpio-controller;
			#gpio-cells = <0x02>;
			interrupt-controller;
			#interrupt-cells = <0x02>;

			acio0_ls_pins {
				pins = "aopgpio39";
				function = "periph";
			};

			acio1_ls_pins {
				pins = "aopgpio41";
				function = "periph";
				phandle = <0x28>;
			};
		};

		sio_busif_clk@23b7001c0 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b7001c0 0x00 0x08>;
			clocks = <0x03>;
			clock-output-names = "sio_busif_clk";
			phandle = <0x08>;
		};

		sio_clk@23b7001c8 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b7001c8 0x00 0x08>;
			clocks = <0x08>;
			clock-output-names = "sio_clk";
			phandle = <0x09>;
		};

		i2c0_clk@23b7001f0 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b7001f0 0x00 0x08>;
			clocks = <0x09>;
			clock-output-names = "i2c0_clk";
			phandle = <0x0a>;
		};

		atc0_common@23b700420 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b700420 0x00 0x08>;
			clocks = <0x03>;
			clock-output-names = "atc0_common";
			phandle = <0x0f>;
		};

		atc0_usb_aon@23d280088 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3d280088 0x00 0x08>;
			clocks = <0x0f>;
			clock-output-names = "atc0_usb_aon";
			phandle = <0x10>;
		};

		atc0_usb@23d280098 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3d280098 0x00 0x08>;
			clocks = <0x10>;
			clock-output-names = "atc0_usb";
			phandle = <0x1b>;
		};

		atc0_pcie@23b700428 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b700428 0x00 0x08>;
			clocks = <0x0f>;
			clock-output-names = "atc0_pcie";
			phandle = <0x16>;
		};

		atc0_cio@23b700430 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b700430 0x00 0x08>;
			clocks = <0x0f>;
			clock-output-names = "atc0_cio";
			phandle = <0x11>;
		};

		atc0_cio_pcie@23b700438 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b700438 0x00 0x08>;
			clocks = <0x11>;
			clock-output-names = "atc0_cio_pcie";
			phandle = <0x12>;
		};

		atc0_cio_usb@23b700440 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b700440 0x00 0x08>;
			clocks = <0x11>;
			clock-output-names = "atc0_cio_usb";
			phandle = <0x13>;
		};

		acio_mbox0@381100000 {
			compatible = "apple,iop-mailbox-micro-m1";
			reg = <0x03 0x81100000 0x00 0x4000>;
			interrupts = <0x00 0x32c 0x04 0x00 0x32f 0x04>;
			#mbox-cells = <0x01>;
			endpoints = <0x20>;
			wait-init;
			phandle = <0x14>;
		};

		acio_reconfig0@23b784000 {
			compatible = "apple,cio-reconfig-m1";
			clocks = <0x11 0x12 0x13>;
			reg = <0x02 0x3b784000 0x00 0x4000>;
			mboxes = <0x14 0x20>;
			#clock-cells = <0x00>;
			clock-output-names = "acio0clk";
			phandle = <0x15>;
		};

		acio_dart0@381a80000 {
			compatible = "apple,dart-m1";
			clocks = <0x15>;
			reg = <0x03 0x81a80000 0x00 0x4000>;
			interrupts = <0x00 0x32a 0x04>;
			page-bits = <0x0e>;
			sid-mask = <0x8003>;
			sid-bypass-mask = <0x8000>;
			#iommu-cells = <0x01>;
		};

		pciec0_dart@3a1008000 {
			compatible = "apple,dart-m1-64";
			clocks = <0x16>;
			reg = <0x03 0xa1008000 0x00 0x4000>;
			interrupts = <0x00 0x303 0x04>;
			pcie-dart;
			aperture = <0x00 0x4000 0x00 0x7ff00000>;
			page-bits = <0x0e>;
			sid-mask = <0xffffffff 0xffffffff>;
			#iommu-cells = <0x01>;
			phandle = <0x19>;
		};

		pciec0@3b0000000 {
			compatible = "apple,pciec-m1";
			reg = <0x03 0xb0000000 0x00 0x4000000 0x03 0xa0000000 0x00 0x100000 0x03 0xa0200000 0x00 0x100000 0x03 0xa1000000 0x00 0x20000>;
			interrupt-parent = <0x01>;
			interrupts = <0x00 0x302 0x04 0x00 0x2e2 0x01 0x00 0x2e3 0x01 0x00 0x2e4 0x01 0x00 0x2e5 0x01 0x00 0x2e6 0x01 0x00 0x2e7 0x01 0x00 0x2e8 0x01 0x00 0x2e9 0x01 0x00 0x2ea 0x01 0x00 0x2eb 0x01 0x00 0x2ec 0x01 0x00 0x2ed 0x01 0x00 0x2ee 0x01 0x00 0x2ef 0x01 0x00 0x2f0 0x01 0x00 0x2f1 0x01 0x00 0x2f2 0x01 0x00 0x2f3 0x01 0x00 0x2f4 0x01 0x00 0x2f5 0x01 0x00 0x2f6 0x01 0x00 0x2f7 0x01 0x00 0x2f8 0x01 0x00 0x2f9 0x01 0x00 0x2fa 0x01 0x00 0x2fb 0x01 0x00 0x2fc 0x01 0x00 0x2fd 0x01 0x00 0x2fe 0x01 0x00 0x2ff 0x01 0x00 0x300 0x01 0x00 0x301 0x01>;
			clocks = <0x16 0x12 0x17>;
			clock-names = "core\0aux\0ref";
			#address-cells = <0x03>;
			#size-cells = <0x02>;
			#interrupt-cells = <0x01>;
			device_type = "pci";
			msi-controller;
			msi-parent = <0x18>;
			msi-doorbell = <0x00 0xfffff000>;
			ranges = <0x43000000 0x04 0x00 0x04 0x00 0x00 0x80000000 0x2000000 0x00 0x80000000 0x04 0x80000000 0x00 0x40000000 0x42000000 0x00 0xc0000000 0x04 0xc0000000 0x00 0x3ff00000>;
			bus-range = <0x00 0x3f>;
			iommu-map = <0x00 0x19 0x8000 0x100 0x100 0x19 0x100 0x7e00>;
			iommu-map-mask = <0xff00>;
			external-facing;
			interrupt-map = <0x00 0x00 0x00 0x01 0x1a 0x01 0x00 0x00 0x00 0x02 0x1a 0x02 0x00 0x00 0x00 0x03 0x1a 0x03 0x00 0x00 0x00 0x04 0x1a 0x04>;
			interrupt-map-mask = <0x00 0x00 0x00 0x07>;
			phandle = <0x18>;

			legacy-interrupt-controller {
				interrupt-controller;
				#address-cells = <0x00>;
				#interrupt-cells = <0x01>;
				phandle = <0x1a>;
			};
		};

		usb_dart0@382f00000 {
			compatible = "apple,dart-m1";
			clocks = <0x1b>;
			reg = <0x03 0x82f00000 0x00 0x80000 0x03 0x82f80000 0x00 0x4000>;
			interrupts = <0x00 0x30d 0x04>;
			page-bits = <0x0e>;
			sid-mask = <0x0b>;
			sid-remap = <0x00 0x01>;
			#iommu-cells = <0x01>;
		};

		atc1_common@23b700448 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b700448 0x00 0x08>;
			clocks = <0x03>;
			clock-output-names = "atc1_common";
			phandle = <0x1c>;
		};

		atc1_usb_aon@23d280090 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3d280090 0x00 0x08>;
			clocks = <0x1c>;
			clock-output-names = "atc1_usb_aon";
			phandle = <0x1d>;
		};

		atc1_usb@23d2800a0 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3d2800a0 0x00 0x08>;
			clocks = <0x1d>;
			clock-output-names = "atc1_usb";
			phandle = <0x1f>;
		};

		atc1_pcie@23b700450 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b700450 0x00 0x08>;
			clocks = <0x1c>;
			clock-output-names = "atc1_pcie";
			phandle = <0x2a>;
		};

		atc1_cio@23b700458 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b700458 0x00 0x08>;
			clocks = <0x1c>;
			clock-output-names = "atc1_cio";
			phandle = <0x1e>;
		};

		atc1_cio_pcie@23b700460 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b700460 0x00 0x08>;
			clocks = <0x1e>;
			clock-output-names = "atc1_cio_pcie";
			phandle = <0x22>;
		};

		atc1_cio_usb@23b700468 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b700468 0x00 0x08>;
			clocks = <0x1e>;
			clock-output-names = "atc1_cio_usb";
			phandle = <0x23>;
		};

		atcphy1@500000000 {
			compatible = "apple,atc-phy-m1";
			reg = <0x05 0x00 0x00 0x1000000 0x05 0x2000000 0x00 0x1080000>;
			#phy-cells = <0x00>;
			usb-role-switch;
			orientation-switch;
			mode-switch;
			accessory;
			#clock-cells = <0x00>;
			clock-output-names = "utmi1clk";
			phandle = <0x27>;

			ports {
				#address-cells = <0x01>;
				#size-cells = <0x00>;

				port@0 {
					reg = <0x00>;

					endpoint {
						phandle = <0x0e>;
					};
				};

				port@1 {
					reg = <0x01>;

					endpoint {
						phandle = <0x2f>;
					};
				};
			};
		};

		acio_mbox1@501100000 {
			compatible = "apple,iop-mailbox-micro-m1";
			reg = <0x05 0x1100000 0x00 0x4000>;
			interrupts = <0x00 0x37c 0x04 0x00 0x37f 0x04>;
			#mbox-cells = <0x01>;
			endpoints = <0x20>;
			wait-init;
			phandle = <0x24>;
		};

		acio_reconfig1@23b788000 {
			compatible = "apple,cio-reconfig-m1";
			clocks = <0x1e 0x22 0x23>;
			reg = <0x02 0x3b788000 0x00 0x4000>;
			mboxes = <0x24 0x20>;
			#clock-cells = <0x00>;
			clock-output-names = "acio1clk";
			phandle = <0x25>;
		};

		acio_dart1@501a80000 {
			compatible = "apple,dart-m1";
			clocks = <0x25>;
			reg = <0x05 0x1a80000 0x00 0x4000>;
			interrupts = <0x00 0x37a 0x04>;
			page-bits = <0x0e>;
			sid-mask = <0x8003>;
			sid-bypass-mask = <0x8000>;
			#iommu-cells = <0x01>;
			phandle = <0x26>;
		};

		acio1@501f00000 {
			compatible = "apple,cio-nhi-m1";
			clocks = <0x25>;
			reg = <0x05 0x1f00000 0x00 0x100000 0x05 0x1ac0000 0x00 0x440000>;
			interrupts = <0x00 0x35f 0x01 0x00 0x360 0x01 0x00 0x361 0x01 0x00 0x362 0x01 0x00 0x363 0x01 0x00 0x364 0x01 0x00 0x365 0x01 0x00 0x366 0x01 0x00 0x367 0x01 0x00 0x368 0x01 0x00 0x369 0x01 0x00 0x36a 0x01 0x00 0x36b 0x01 0x00 0x36c 0x01 0x00 0x36d 0x01 0x00 0x36e 0x01 0x00 0x36f 0x01 0x00 0x370 0x01 0x00 0x371 0x01 0x00 0x372 0x01 0x00 0x373 0x01 0x00 0x374 0x01 0x00 0x375 0x01 0x00 0x376 0x01>;
			iommus = <0x26 0x01>;
			phys = <0x27>;
			pinctrl-0 = <0x28>;
			pinctrl-names = "default";
			num-rings = <0x0c>;
			pcie = <0x29>;
			thunderbolt-drom = <0xb5019718 0x75866001 0x533bb8 0xe9013d00 0x1000f00 0x1000881 0x81028100 0x882 0x91018100 0x383 0x20028405 0x85090100 0x5860901 0x2870d 0x1417070 0x6c652049 0x6e632e00 0x602694f 0x53000000>;
		};

		pciec1_dart@521008000 {
			compatible = "apple,dart-m1-64";
			clocks = <0x2a>;
			reg = <0x05 0x21008000 0x00 0x4000>;
			interrupts = <0x00 0x353 0x04>;
			pcie-dart;
			aperture = <0x00 0x80000000 0x00 0xfff00000>;
			page-bits = <0x0e>;
			sid-mask = <0xffffffff 0xffffffff>;
			#iommu-cells = <0x01>;
			phandle = <0x2b>;
		};

		pciec1@530000000 {
			compatible = "apple,pciec-m1";
			reg = <0x05 0x30000000 0x00 0x4000000 0x05 0x20000000 0x00 0x100000 0x05 0x20200000 0x00 0x100000 0x05 0x21000000 0x00 0x20000>;
			interrupt-parent = <0x01>;
			interrupts = <0x00 0x352 0x04 0x00 0x332 0x01 0x00 0x333 0x01 0x00 0x334 0x01 0x00 0x335 0x01 0x00 0x336 0x01 0x00 0x337 0x01 0x00 0x338 0x01 0x00 0x339 0x01 0x00 0x33a 0x01 0x00 0x33b 0x01 0x00 0x33c 0x01 0x00 0x33d 0x01 0x00 0x33e 0x01 0x00 0x33f 0x01 0x00 0x340 0x01 0x00 0x341 0x01 0x00 0x342 0x01 0x00 0x343 0x01 0x00 0x344 0x01 0x00 0x345 0x01 0x00 0x346 0x01 0x00 0x347 0x01 0x00 0x348 0x01 0x00 0x349 0x01 0x00 0x34a 0x01 0x00 0x34b 0x01 0x00 0x34c 0x01 0x00 0x34d 0x01 0x00 0x34e 0x01 0x00 0x34f 0x01 0x00 0x350 0x01 0x00 0x351 0x01>;
			clocks = <0x2a 0x22 0x17>;
			clock-names = "core\0aux\0ref";
			#address-cells = <0x03>;
			#size-cells = <0x02>;
			#interrupt-cells = <0x01>;
			device_type = "pci";
			msi-controller;
			msi-parent = <0x29>;
			msi-doorbell = <0x00 0xfffff000>;
			ranges = <0x43000000 0x05 0x80000000 0x05 0x80000000 0x00 0x80000000 0x2000000 0x00 0x100000 0x06 0x100000 0x00 0x3ff00000 0x42000000 0x00 0x40000000 0x06 0x40000000 0x00 0x40000000>;
			bus-range = <0x00 0x3f>;
			iommu-map = <0x00 0x2b 0x8000 0x100 0x100 0x2b 0x100 0x7e00>;
			iommu-map-mask = <0xff00>;
			external-facing;
			interrupt-map = <0x00 0x00 0x00 0x01 0x2c 0x01 0x00 0x00 0x00 0x02 0x2c 0x02 0x00 0x00 0x00 0x03 0x2c 0x03 0x00 0x00 0x00 0x04 0x2c 0x04>;
			interrupt-map-mask = <0x00 0x00 0x00 0x07>;
			phandle = <0x29>;

			legacy-interrupt-controller {
				interrupt-controller;
				#address-cells = <0x00>;
				#interrupt-cells = <0x01>;
				phandle = <0x2c>;
			};
		};

		usb_dart1@502f00000 {
			compatible = "apple,dart-m1";
			clocks = <0x1f>;
			reg = <0x05 0x2f00000 0x00 0x80000 0x05 0x2f80000 0x00 0x4000>;
			interrupts = <0x00 0x35d 0x04>;
			page-bits = <0x0e>;
			sid-mask = <0x0b>;
			sid-remap = <0x00 0x01>;
			#iommu-cells = <0x01>;
			phandle = <0x2d>;
		};

		usb_drd1@502280000 {
			compatible = "apple,dwc3-m1";
			clock-names = "usbclk\0utmiclk";
			reg = <0x05 0x00 0x00 0x1000000 0x05 0x2000000 0x00 0x1000000>;
			reg-names = "atcphy\0usbcore";
			#address-cells = <0x02>;
			#size-cells = <0x02>;
			ranges;

			dwc3@502280000 {
				compatible = "snps,dwc3";
				reg = <0x05 0x2280000 0x00 0x100000>;
				interrupts = <0 0x359 0x4>;
				iommus = <0x2d 0x01>;
				#address-cells = <0x01>;
				#size-cells = <0x00>;
				dr_mode = "host";
				phys = <0x27 0x27>;
				phy-names = "usb2-phy\0usb3-phy";

				port@0 {
					reg = <0x00>;

					endpoint {
						remote-endpoint = <0x2e>;
						phandle = <0x0d>;
					};
				};

				port@1 {
					reg = <0x01>;

					endpoint {
						remote-endpoint = <0x2f>;
						phandle = <0x21>;
					};
				};
			};
		};

		pcie_refclk@23b7001a0 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b7001a0 0x00 0x08>;
			clocks = <0x17>;
			clock-output-names = "pcie_refclk";
			phandle = <0x35>;
		};

		imx_clk@23b7001b8 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b7001b8 0x00 0x08>;
			clocks = <0x17>;
			clock-output-names = "imx_clk";
			phandle = <0x30>;
		};

		pcie_clk@23b700348 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b700348 0x00 0x08>;
			clocks = <0x30>;
			clock-output-names = "pcie_clk";
			phandle = <0x31>;
		};

		pcie_gp_clk@23b7003e8 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b7003e8 0x00 0x08>;
			clocks = <0x31>;
			clock-output-names = "pcie_gp_clk";
			phandle = <0x32>;
		};

		pcie_dart0@681008000 {
			compatible = "apple,dart-m1";
			clocks = <0x32>;
			reg = <0x06 0x81008000 0x00 0x4000>;
			interrupts = <0x00 0x2b8 0x04>;
			pcie-dart;
			page-bits = <0x0e>;
			sid-mask = <0xffff>;
			#iommu-cells = <0x01>;
			phandle = <0x39>;
		};

		pcie_dart1@682008000 {
			compatible = "apple,dart-m1";
			clocks = <0x32>;
			reg = <0x06 0x82008000 0x00 0x4000>;
			interrupts = <0x00 0x2bb 0x04>;
			pcie-dart;
			page-bits = <0x0e>;
			sid-mask = <0xffff>;
			#iommu-cells = <0x01>;
			phandle = <0x3a>;
		};

		pcie_dart2@683008000 {
			compatible = "apple,dart-m1";
			clocks = <0x32>;
			reg = <0x06 0x83008000 0x00 0x4000>;
			interrupts = <0x00 0x2be 0x04>;
			pcie-dart;
			page-bits = <0x0e>;
			sid-mask = <0xffff>;
			#iommu-cells = <0x01>;
			phandle = <0x3b>;
		};

		smc_mbox@23e408800 {
			compatible = "apple,iop-mailbox-m1";
			reg = <0x02 0x3e400000 0x00 0x20000>;
			interrupts = <0x00 0x190 0x04 0x00 0x193 0x04>;
			#mbox-cells = <0x01>;
			endpoints = <0x20>;
			phandle = <0x33>;
		};

		smc@23e050000 {
			compatible = "apple,smc-m1";
			reg = <0x02 0x3e050000 0x00 0x4000>;
			mboxes = <0x33 0x20>;
			gpio-controller;
			#gpio-cells = <0x02>;
			gpio-9 = <0x10000>;
			gpio-13 = <0x800000>;
			gpio-15 = <0x00>;
			gpio-20 = <0x00>;
			nvmem = <0x34>;
			nvmem-poweroff = <0x01 0xff 0x00 0x03 0xff 0x00 0x0f 0x2f 0x08>;
			phandle = <0x37>;
		};

		pcie@690000000 {
			compatible = "apple,pcie-m1";
			reg = <0x06 0x90000000 0x00 0x1000000 0x06 0x80000000 0x00 0x100000 0x06 0x8c000000 0x00 0x100000 0x06 0x81000000 0x00 0x20000 0x06 0x82000000 0x00 0x20000 0x06 0x83000000 0x00 0x20000>;
			interrupt-parent = <0x01>;
			interrupts = <0x00 0x2b7 0x04 0x00 0x2ba 0x04 0x00 0x2bd 0x04 0x00 0x2c0 0x01 0x00 0x2c1 0x01 0x00 0x2c2 0x01 0x00 0x2c3 0x01 0x00 0x2c4 0x01 0x00 0x2c5 0x01 0x00 0x2c6 0x01 0x00 0x2c7 0x01 0x00 0x2c8 0x01 0x00 0x2c9 0x01 0x00 0x2ca 0x01 0x00 0x2cb 0x01 0x00 0x2cc 0x01 0x00 0x2cd 0x01 0x00 0x2ce 0x01 0x00 0x2cf 0x01 0x00 0x2d0 0x01 0x00 0x2d1 0x01 0x00 0x2d2 0x01 0x00 0x2d3 0x01 0x00 0x2d4 0x01 0x00 0x2d5 0x01 0x00 0x2d6 0x01 0x00 0x2d7 0x01 0x00 0x2d8 0x01 0x00 0x2d9 0x01 0x00 0x2da 0x01 0x00 0x2db 0x01 0x00 0x2dc 0x01 0x00 0x2dd 0x01 0x00 0x2de 0x01 0x00 0x2df 0x01>;
			clocks = <0x32 0x31 0x35>;
			clock-names = "core\0aux\0ref";
			pinctrl-0 = <0x36>;
			pinctrl-names = "default";
			perst-gpios = <0x0c 0x98 0x00 0x0c 0x99 0x00 0x0c 0x21 0x00>;
			clkreq-gpios = <0x0c 0x96 0x00 0x0c 0x97 0x00 0x0c 0x20 0x00>;
			devpwr-gpios = <0x37 0x0d 0x00>;
			devpwr-on-0 = <0x00 0x01>;
			devpwr-on-1;
			devpwr-on-2;
			#address-cells = <0x03>;
			#size-cells = <0x02>;
			#interrupt-cells = <0x01>;
			device_type = "pci";
			msi-controller;
			msi-parent = <0x38>;
			msi-doorbell = <0x00 0xfffff000>;
			ranges = <0x43000000 0x06 0xa0000000 0x06 0xa0000000 0x00 0x20000000 0x2000000 0x00 0xc0000000 0x06 0xc0000000 0x00 0x40000000>;
			bus-range = <0x00 0x0f>;
			iommu-map = <0x00 0x39 0x8000 0x100 0x100 0x39 0x100 0x100 0x200 0x3a 0x200 0x100 0x300 0x3b 0x300 0x100>;
			iommu-map-mask = <0xff00>;
			refclk-always-on-2;
			max-speed-2 = <0x01>;
			phandle = <0x38>;
		};

		spi_p_clk@23b700218 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b700218 0x00 0x08>;
			clocks = <0x09>;
			clock-output-names = "spi_p_clk";
			phandle = <0x3c>;
		};

		spi1_clk@23b700248 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b700248 0x00 0x08>;
			clocks = <0x3c>;
			clock-output-names = "spi1_clk";
			phandle = <0x3d>;
		};

		spi@235104000 {
			compatible = "apple,spi-mc-m1";
			reg = <0x02 0x35104000 0x00 0x4000>;
			interrupts = <0x00 0x267 0x04>;
			clocks = <0x3d>;
			cs-gpios = <0x0c 0x2d 0x00>;
			#address-cells = <0x01>;
			#size-cells = <0x00>;

			flash@0 {
				compatible = "jedec,spi-nor";
				reg = <0x00>;
				spi-max-frequency = <0x2dc6c0>;
			};
		};

		spi3_clk@23b700258 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b700258 0x00 0x08>;
			clocks = <0x3c>;
			clock-output-names = "spi3_clk";
			phandle = <0x3e>;
		};

		spi@23510c000 {
			compatible = "apple,spi-mc-m1";
			reg = <0x02 0x3510c000 0x00 0x4000>;
			interrupts = <0x00 0x269 0x04>;
			clocks = <0x3e>;
			cs-gpios = <0x0c 0x31 0x00>;
			#address-cells = <0x01>;
			#size-cells = <0x00>;

			keyboard@0 {
				compatible = "input,applespi-kbd-v1";
				reg = <0x00>;
				spi-max-frequency = <0x1e8480>;
				spien-gpios = <0x0c 0xc3 0x00>;
				irq-gpios = <0x3f 0x0d 0x00>;
				interrupt-parent = <0x3f>;
				interrupts = <0x0d 0x08>;
			};
		};

		ans_clk@23b7003f0 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b7003f0 0x00 0x08>;
			clocks = <0x31>;
			clock-output-names = "ans_clk";
			phandle = <0x40>;
		};

		pcie_st_clk@23b700418 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b700418 0x00 0x08>;
			clocks = <0x40>;
			clock-output-names = "pcie_st_clk";
			phandle = <0x41>;
		};

		ans_mbox@277400000 {
			compatible = "apple,iop-mailbox-m1";
			reg = <0x02 0x77400000 0x00 0x20000>;
			interrupts = <0x00 0x247 0x04 0x00 0x24a 0x04>;
			clocks = <0x41>;
			#mbox-cells = <0x01>;
			endpoints = <0x20>;
			wait-init;
			phandle = <0x42>;
		};

		ans@27bcc0000 {
			compatible = "apple,nvme-m1";
			reg = <0x02 0x7bcc0000 0x00 0x40000 0x02 0x7bc50000 0x00 0x4000>;
			interrupts = <0x00 0x24e 0x04>;
			clocks = <0x41>;
			mboxes = <0x42 0x20>;
			#address-cells = <0x03>;
			#size-cells = <0x02>;
			#interrupt-cells = <0x01>;
			device_type = "pci";
			msi-controller;
			msi-parent = <0x43>;
			ranges = <0x2000000 0x00 0x7bc00000 0x02 0x7bc00000 0x00 0x100000>;
			bus-range = <0x00 0x01>;
			phandle = <0x43>;
		};

		nub_spmi0_clk@23d280060 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3d280060 0x00 0x08>;
			clocks = <0x03>;
			clock-output-names = "nub_spmi0_clk";
			phandle = <0x44>;
		};

		spmi@23d0d8000 {
			compatible = "apple,spmi-m1";
			reg = <0x02 0x3d0d8000 0x00 0x2000>;
			interrupts = <0x00 0x157 0x04>;
			clocks = <0x44>;
			#address-cells = <0x02>;
			#size-cells = <0x00>;
			interrupt-controller;
			#interrupt-cells = <0x02>;
			phandle = <0x45>;

			pmu@f {
				compatible = "apple,spmi-pmu-sera\0apple,spmi-pmu";
				reg = <0x0f 0x00>;
				interrupt-parent = <0x45>;
				interrupts = <0x02 0x00>;

				rtc@d002 {
					compatible = "apple,spmi-rtc-v0";
					base = <0xd002 0x06 0xd100 0x06>;
				};

				sysctrl@9f00 {
					compatible = "apple,spmi-bbram-v0";
					base = <0x9f00 0x20>;
					phandle = <0x34>;
				};

				bbram@a000 {
					compatible = "apple,spmi-bbram-v0";
					base = <0xa000 0x1000>;
				};
			};
		};

		reboot@23d2b0000 {
			compatible = "apple,reboot-v0";
			reg = <0x02 0x3d2b0000 0x00 0x4000>;
		};

		fpwm0_clk@23b7001e0 {
			compatible = "apple,pmgr-clk-gate";
			#clock-cells = <0x00>;
			reg = <0x02 0x3b7001e0 0x00 0x08>;
			clocks = <0x03>;
			clock-output-names = "fpwm0_clk";
			phandle = <0x46>;
		};

		pwm@235044000 {
			compatible = "apple,fpwm-t8101";
			reg = <0x02 0x35044000 0x00 0x4000>;
			clocks = <0x46>;
			#pwm-cells = <0x02>;
			phandle = <0x47>;
		};

		wdt@23d2b0000 {
			compatible = "apple,wdt";
			reg = <0x2 0x3d2b0000 0x00 0x4000>;
		};
	};

	leds {
		compatible = "pwm-leds";

		kbd-backlight {
			label = "kbd_backlight";
			pwms = <0x47 0x00 0x3e8>;
			max-brightness = <0xff>;
		};
	};

	backlight {
		compatible = "gpio-backlight";
		gpios = <0x37 0x12 0x00>;
		default-on;
		status = "okay";
		phandle = <0x02>;
	};
};
